# Object Oriented Programming

In [1]:
class Employee:
    salary = 350000

In [3]:
Kemi = Employee()

print(Kemi.salary)

350000

In [4]:
Kemi.salary

350000

In [13]:
class Employee:
    def __init__(self, name, age, salary, position, department, marital_status):
        self.name = name
        self.age = age
        self.salary = salary
        self.position = position
        self.department = department
        self.marital_status = marital_status
        
    def add_age(self):
        self.age += 1
        
    def get_age(self):
        return "Age is {}".format(self.age)

In [16]:
staff_1 = Employee("Kemi", 25, "Manager", 500000, "Finance", "Married")

In [17]:
staff_1.name

'Kemi'

In [18]:
staff_2 = Employee("Chris", 32, "Associate", 250000, "HR", "Single")

In [19]:
staff_2.name

'Chris'

In [20]:
staff_2.age

32

In [23]:
staff_2.add_age

In [24]:
staff_2.age

33

In [26]:
staff_2.add_age
staff_2.age

33

### Encapsulation

In [60]:
class Sports:
    def __init__(self):
        self.__sportsName = "Soccer"
        
    def game(self):
        print("The game is: {}".format(self.__sportsName))
        
    def change_name(self, name):
        self.__sportsName = name

In [56]:
s = Sports()
s.game()

The game is: Soccer

In [57]:
# changing the sports name
s.__sportsName = 'Hockey'
s.game()

The game is: Soccer

In [59]:
# changing the sports name
s.change_name('Hockey')
s.game()

The game is: Hockey

### Inheritance

In [2]:
class Animal:
    def __init__(self):
        print("Animal is there")
    def Whatistheclass(self):
        print("Animal")
    def Run(self):
        print("Runs in speed")
        
# The child class
class Lion(Animal):
    def __init__(self):
        # call super() function
        super().__init__()
        print("Lion is there")
        
    def Whatistheclass(self):
        print("Lion")
        
    def run(self):
        print("Runs in speed")

In [3]:
mammal = Animal()

Animal is there

In [4]:
mammal.Whatistheclass()

Animal

### Polymorphism

In [5]:
class Lion:
    def Roar(self):
        print("Lion can roar")
    def Bark(self):
        print("Lion can't bark")
        
class Dog:
    def Roar(self):
        print("Dog can't roar")
    def Bark(self):
        print("Dog can bark")

In [6]:
#instantiate objects
pet = Lion()
street = Dog()

In [7]:
pet.Roar()
street.Roar()

Lion can roar
Dog can't roar

In [10]:
pet = Lion()
street = Dog()

In [11]:
pet.Bark()
street.Bark()

Lion can't bark
Dog can bark

### Abstraction

In [21]:
class Customer:
    def __init__(self, name, address, phone):
        self.__name = name
        self.__address = address
        self.__phone = phone
        
    def set_name(self, name):
        self._name = name
        
    def set_address(self, address):
        self._address = address
        
    def set_phone(self, phone):
        self.__phone = phone
        
    def get_name(self):
        return self.__name
    
    def get_address(self):
        return self.__address
    
    def get_phone(self):
        return self.__phone

In [22]:
customers = []

In [27]:
cus_1 = Customer("Chris", "Victoria Island", "08098341256")

In [28]:
cus_2 = Customer("Shade", "Ikoyi", "09032416543")

In [29]:
cus_3 = Customer("Henry", "Lekki", "08044312001")

In [30]:
cus_4 = Customer("Mary", "Ikeja", "08043213654")

In [31]:
customers.append(cus_1)
customers.append(cus_2)
customers.append(cus_3)
customers.append(cus_4)

In [32]:
customers

[<__main__.Customer at 0x28375b01fa0>,
 <__main__.Customer at 0x28375990cd0>,
 <__main__.Customer at 0x28375b72100>,
 <__main__.Customer at 0x283759fe0a0>]

In [35]:
for customer in customers:
    print(customer.get_name())
    print(customer.get_address())
    print(customer.get_phone())
    print()

Chris
Victoria Island
08098341256

Shade
Ikoyi
09032416543

Henry
Lekki
08044312001

Mary
Ikeja
08043213654

In [36]:
class Cellphone:
    # The __init__ method initializes the attributes.
    def __init__(self, manufact, model, price):
        self.__manufact = manufact
        self.__model = model
        self.__retail_price = price
        
    def set_manufact(self, manufact):
        self.__manufact = manufact
        
    def set_model(self, model):
        self.__model = model
        
    def set_retail_price(self, price):
        self.__retail_price = price
        
    def get_manufact(self):
        return self.__manufact
    
    def get_model(self):
        return self.__model
    
    def get_retail_price(self):
        return self.__retail_price

In [53]:
cellphones = []

In [54]:
cell_1 = Cellphone("Tecno", "Phantom 12", 120000)

In [55]:
cell_2 = Cellphone("IPhone", "12", 750000)

In [56]:
cell_3 = Cellphone("Infinix", "Note 12", 122000)

In [57]:
cell_4 = Cellphone("Samsung Galaxy", "S5", 150000)

In [58]:
cellphones.append(cell_1)
cellphones.append(cell_2)
cellphones.append(cell_3)
cellphones.append(cell_4)

In [59]:
for cellphone in cellphones:
    print(cellphone.get_manufact())
    print(cellphone.get_model())
    print(cellphone.get_retail_price())
    print()

Tecno
Phantom 12
120000

IPhone
12
750000

Infinix
Note 12
122000

Samsung Galaxy
S5
150000

### Inheritance and Encapsulation

In [5]:
class Automobile:
    def __init__(self, make, model, mileage, price):
        self.__make = make
        self.__model = model
        self.__mileage = mileage
        self.__price = price
        
    def set_make(self, make):
        self.__make = make
        
    def set_model(self, model):
        self.__model = model
        
    def set_mileage(self, mileage):
        self.__mileage = mileage
        
    def set_price(self, price):
        self.__price = price
        
    def get_make(self):
        return self.__make
    
    def get_model(self):
        return self.__model
    
    def get_mileage(self):
        return self.__mileage
    
    def get_price(self):
        return self.__price

In [6]:
class Car(Automobile):
    def __init__(self, make, model, mileage, price, doors):
        super().__init__(make, model, mileage, price)
        self.__doors = doors
        
    def set_doors(self, doors):
        self.__doors = doors
        
    def get_doors(self):
        return self.__doors

In [7]:
class Truck(Automobile):
    def __init__(self, make, model, mileage, price, drive_type):
        super().__init__(make, model, mileage, price)
        self.__drive_type = drive_type
        
    def set_drive_type(self, drive_type):
        self.__drive_type = drive_type
        
    def get_drive_type(self):
        return self.__drive_type

In [8]:
class SUV(Automobile):
    def __init__(self, make, model, mileage, price, pass_cap):
        super().__init__(make, model, mileage, price)
        self.__pass_cap = pass_cap
        
    def set_pass_cap(self, pass_cap):
        self.__pass_cap = pass_cap
        
    def get_pass_cap(self):
        return self.__pass_cap

In [10]:
car = Car("Toyota Corolla", 2015, 40000, 12000000, 4)

In [11]:
truck = Truck("Mazda", 2012, 130000, 900000, 3)

In [13]:
suv = SUV("Jeep", 2017, 500000, 15000000, 4)